/* general CSS for our Crossword Page */

:root {
    
    --bgcolour: #f7f7ea;
    --fgcolour: #2c2b2a;

}

body {

    background-color: var(--bgcolour);
    color: var(--fgcolour);

    min-width: 1000px;

}


header, #heading, footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10pt;
    color: var(--fgcolour);

}

#heading, footer {

    font-size: 12pt;
    margin: 2px 5px 4px;
    border: solid 2px var(--fgcolour);
    border-left: 0;
    border-right: 0;

}

footer {

    border-bottom: 0;
    padding-top: 10px;
    text-align: center;
    color: var(--fgcolour);
    display: block;

}

.blurb, .price, .masthead {

    font-size: 10pt;
    color: var(--fgcolour);
   
}

.masthead img {

    max-height: 100px;

}

.price img {
    max-height: 70px;
}

.masthead {

    width:60%;

}

.blurb {

    border: solid 2px var(--fgcolour);
    padding: 10px 12px;
    font-style: italic;
    width: 200px;
    margin-right: 14pt;

}

/* control line  */

button {

    color: var(--fgcolour);
}

nav {

    position: relative;
    display: inline-block;

    background-color: var(--bgcolour);
    color: var(--fgcolour);
    margin: 0 5pt;

}

.dropdown {

    display: none;
    background-color: var(--bgcolour);
    color: var(--fgcolour);;
    border:none;
    position: absolute;
    z-index: 1;

}

.dropdown button {
    display: block;
}

#puzzlecontrol, .dropdown button {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    border: none;
    background-color: var(--bgcolour);

}

nav:hover .dropdown {
    display: block;
}

.dropdown button:hover, #puzzlecontrol:hover {

    color: var(--bgcolour);
    background-color: var(--fgcolour);

}

main {

    display: grid;
    grid-template-columns: auto 18% 18%;

}

#puzzle {

    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    padding-top: 8pt;

}

#across {

    grid-area: 1 / 2 / 3 / 3;
    padding: 8pt 30px;

}

#down {

    grid-area: 1 / 3 / 3 / 4;
    padding: 8pt 30px;

}

#instructions {

    grid-area: 2 / 1 / 3 / 2;
    padding-top: 8pt;

}

td {

    position: relative;
    border: solid 2px black;
    height: 24pt;
    width: 24pt;

    background-color: white;
    text-align: center;

}

.title, p {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: var(--fgcolour);
    font-weight: bold;
    line-height: 24pt;
    text-align: center;

}

#instructions .title {

    line-height: 30pt;

}

p {

    font-size: 16pt;
    font-weight: normal;
}

.letter {

    font-size: 14pt;
    color: var(--fgcolour);

}

.number {

    display: inline-block;
    position: absolute;
    top: 3px;
    left: 2px;

    font-size: 8pt;
    color: rgb(67, 67, 67);
}

.downClues, .acrossClues {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: var(--fgcolour);

}

.notused {

    background-color: black;

}

.highlighted {

    background-color: brown;

}

.blinking {

    background-color: rgb(135, 134, 134);
    animation: blinking 1.5s linear infinite;
    

} 

@keyframes blinking {
    50% { background-color: ivory;}
}

/* form elements  */

.logincard, .gamepicker {

    border: var(--fgcolour) 3px solid;
    border-radius: 15px;
    background-color: var(--bgcolour);

    width: fit-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: none;

}

.formelements {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.formdivider {

    display: block;
    margin-left: 20px;

}

.formtitle {

    display: block;
    height: 20pt;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;

}

.formclose {

    width: 14pt;
    position: relative;
    left: 95%;

}

form, form button, form input {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    line-height: 20pt;
    text-align: center;

}

form button {

    background-color: aliceblue;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 10px;

}

.feedback {

    height: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: brown;
    text-align: center;

}

/* responsive elements */

@media screen and (max-width: 900px) {

    .blurb{

        visibility: visible;

    }

};
    



